<div class="row">
  <div class="panel panel-default panel-custom">
	  <div class=" panel-default">
	    <h1>About this blog...</h1>
	  </div>
  </div>
  <div class="panel panel-default panel-custom">
  	<div class="panel-body">
          <p>Creation was manditory.</p>
          <p>Here's some filler text:</p>
<!-- Comment -->
			<h1>The Series Has Landed</h1>
			<p>I just told you! You've killed me! I saw you with those two "ladies of the evening" at Elzars. Explain that. Professor, make a woman out of me.</p>
			<h2>The Cryonic Woman</h2>
			<p>Stop! Don't shoot fire stick in space canoe! Cause explosive decompression! You guys go on without me! I'm going to go&hellip; look for more stuff to steal! Interesting. No, wait, the other thing: tedious. Oh, how awful. Did he at least die painlessly? &hellip;To shreds, you say. Well, how is his wife holding up? &hellip;To shreds, you say.</p>
			<ul>
			<li>Alright, let's mafia things up a bit. Joey, burn down the ship. Clamps, burn down the crew.</li>
			<li>Of all the friends I've had&hellip; you're the first.</li>
			<li>And so we say goodbye to our beloved pet, Nibbler, who's gone to a place where I, too, hope one day to go. The toilet.</li>
			</ul>
			<h3>A Head in the Polls</h3>
			<p>I've been there. My folks were always on me to groom myself and wear underpants. What am I, the pope? Kif, I have mated with a woman. Inform the men. Who are those horrible orange men? When I was first asked to make a film about my nephew, Hubert Farnsworth, I thought "Why should I?" Then later, Leela made the film. But if I did make it, you can bet there would have been more topless women on motorcycles. Roll film! Who are those horrible orange men? Shut up and get to the point!</p>
			<h4>That Darn Katz!</h4>
			<p>Bender, this is Fry's decision&hellip; and he made it wrong. So it's time for us to interfere in his life. Doomsday device? Ah, now the ball's in Farnsworth's court! Of all the friends I've had&hellip; you're the first. I daresay that Fry has discovered the smelliest object in the known universe!</p>
			<ol>
			<li>No argument here.</li>
			<li>And so we say goodbye to our beloved pet, Nibbler, who's gone to a place where I, too, hope one day to go. The toilet.</li>
			</ol>
			<h5>Less Than Hero</h5>
			<p>Large bet on myself in round one. I usually try to keep my sadness pent up inside where it can fester quietly as a mental illness. Of all the friends I've had&hellip; you're the first. It's just like the story of the grasshopper and the octopus. All year long, the grasshopper kept burying acorns for winter, while the octopus mooched off his girlfriend and watched TV. But then the winter came, and the grasshopper died, and the octopus ate all his acorns. Also he got a race car. Is any of this getting through to you? Our love isn't any different from yours, except it's hotter, because I'm involved.</p>
			<h6>The Cryonic Woman</h6>
			<p>Oh, I always feared he might run off like this. Why, why, why didn't I break his legs? And when we woke up, we had these bodies. I suppose I could part with 'one' and still be feared&hellip;</p>
			<p>Hello Morbo, how's the family? Whoa a real live robot; or is that some kind of cheesy New Year's costume? Dr. Zoidberg, that doesn't make sense. But, okay! I suppose I could part with 'one' and still be feared&hellip; Guess again. Son, as your lawyer, I declare y'all are in a 12-piece bucket o' trouble. But I done struck you a deal: Five hours of community service cleanin' up that ol' mess you caused.</p>
			<p>Can we have Bender Burgers again? Alright, let's mafia things up a bit. Joey, burn down the ship. Clamps, burn down the crew. Ah, yes! John Quincy Adding Machine.  He struck a chord with the voters when he pledged not to go on a killing spree. Then throw her in the laundry room, which will hereafter be referred to as "the brig". Meh.</p>
			<p>Is the Space Pope reptilian!? File not found. Who am I making this out to? Man, I'm sore all over. I feel like I just went ten rounds with mighty Thor.</p>
			<p>Our love isn't any different from yours, except it's hotter, because I'm involved. I barely knew Philip, but as a clergyman I have no problem telling his most intimate friends all about him. Well I'da done better, but it's plum hard pleading a case while awaiting trial for that there incompetence. Yes, I saw. You were doing well, until everyone died.</p>
			<p>Well, then good news! It's a suppository. Calculon is gonna kill us and it's all everybody else's fault! Say what? Hey, whatcha watching? Come, Comrade Bender! We must take to the streets! And remember, don't do anything that affects anything, unless it turns out you were supposed to, in which case, for the love of God, don't not do it!</p>
			<p>No argument here. Who's brave enough to fly into something we all keep calling a death sphere? Pansy.</p>
			<p>No! The cat shelter's on to me. Come, Comrade Bender! We must take to the streets! Um, is this the boring, peaceful kind of taking to the streets? Yes, I saw. You were doing well, until everyone died. I love this planet! I've got wealth, fame, and access to the depths of sleaze that those things bring.</p>
			<p>Leela, Bender, we're going grave robbing. Robot 1-X, save my friends!  And Zoidberg! No argument here. It's okay, Bender. I like cooking too. Ok, we'll go deliver this crate like professionals, and then we'll go ride the bumper cars.</p>
			<p>Bender?! You stole the atom. Oh sure! Blame the wizards! With a warning label this big, you know they gotta be fun! I can explain. It's very valuable. Who said that? SURE you can die! You want to die?!</p>
			<p>OK, this has gotta stop. I'm going to remind Fry of his humanity the way only a woman can. Morbo will now introduce tonight's candidates&hellip; PUNY HUMAN NUMBER ONE, PUNY HUMAN NUMBER TWO, and Morbo's good friend, Richard Nixon. OK, if everyone's finished being stupid. Then we'll go with that data file! I can explain. It's very valuable. I didn't ask for a completely reasonable excuse! I asked you to get busy!</p>
			<p>Dr. Zoidberg, that doesn't make sense. But, okay! Okay, I like a challenge. Um, is this the boring, peaceful kind of taking to the streets? What are their names? You know the worst thing about being a slave? They make you work, but they don't pay you or let you go.</p>


    </div>
  </div>
 </div>